<div class="calendar-container">
  <header class="calendar-header">
    <div class="calendar-navigation">
      <button (click)="onTodayButtonClicked()">Today</button>
      <div class="button-group">
        <span id="calendar-prev" (click)="onNavigationButtonClicked(false)"><</span>
        <span id="calendar-next" (click)="onNavigationButtonClicked(true)">></span>
      </div>
    </div>
    <p class="calendar-current-date">{{ calendarCurrentDate }}</p>
  </header>

  <div class="calendar-body">
    <ul class="calendar-weekdays">
      <li>Sun</li>
      <li>Mon</li>
      <li>Tue</li>
      <li>Wed</li>
      <li>Thu</li>
      <li>Fri</li>
      <li>Sat</li>
    </ul>

    <ul class="calendar-dates" #calendarDates></ul>
  </div>
</div>
