.calendar-container {
  background: #fff;
  width: 28.125em;
  border-radius: 1em;
  box-shadow: 0 1em 2.5em rgba(0, 0, 0, 0.12);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  header {
    display: flex;
    align-items: center;
    padding: 1em 2em .5em;
    justify-content: space-between;

    .calendar-current-date {
      font-weight: 500;
      font-size: 1.45rem;
      cursor: pointer;
    }

    span {
      cursor: pointer;
      font-size: 1.3rem;
      font-weight: 500;
    }

    #calendar-prev {
      margin-left: .8em;
    }

    #calendar-next {
      margin-right: .8em;
    }
  }

  .calendar-body {
    visibility: hidden;
    display: none;
    border: none;
    &.active {
      border: 1px solid #ccc;
      visibility: visible;
      display: block;
    }
  
    .calendar-weekdays {
      li {
        cursor: default;
        font-weight: 700;
      }
    }
  
    .calendar-dates {
      margin-bottom: 1.5em;
      border-top: 1px solid #ccc;
    }
  
    ul {
      list-style: none;
      flex-wrap: wrap;
      display: flex;
      text-align: center;
      padding: 0;
    }
  
    li {
      width: calc(100% / 7);
      font-size: 1.07rem;
      color: #414141;
    }
  }

  .year-calendar-body {
    border: none;
    visibility: hidden;
    display: none;
    &.active {
      border: 1px solid #ccc;
      visibility: visible;
      display: block;
    }

    ul {
      list-style: none;
      flex-wrap: wrap;
      display: flex;
      text-align: center;
      padding: 0;
    }
  
    li {
      width: calc(100% / 5);
      font-size: 1.07rem;
      color: #414141;
    }
  }

  .calendar-footer {
    padding: 1em;
    display: flex;
    .button-group {
      margin-left: 1em;
      .calendar-hours, .calendar-minutes {
        border: none;
        width: 2.2em;
        font-size: 1.3em;
        font-weight: 500;
        margin: .3em;
        margin-right: .5em;
      }
    }
  
    .update-button {
      height: 1.8em;
      width: 5em;
      font-size: 1.2em;
      margin-left: auto;
      margin-right: .5em;
      border-radius: .3em;
      border: 1px solid #ccc;
      background-color: #fff;
      cursor: pointer;
    }
  }
}