<div class="calendar-container">
  <header class="calendar-header">
    <span id="calendar-prev" (click)="onNavigationButtonClicked(false)"><</span>
    <p class="calendar-current-date" (click)="onCurrentDateClicked()">{{ calendarCurrentDate }}</p>
    <span id="calendar-next" (click)="onNavigationButtonClicked(true)">></span>
  </header>

  <div class="calendar-body" [class.active]="isCalendarDatesItemsDisplayed">
    <ul class="calendar-weekdays">
      <li>Sun</li>
      <li>Mon</li>
      <li>Tue</li>
      <li>Wed</li>
      <li>Thu</li>
      <li>Fri</li>
      <li>Sat</li>
    </ul>

    <ul class="calendar-dates" #calendarDates></ul>
  </div>

  <div class="year-calendar-body" [class.active]="!isCalendarDatesItemsDisplayed">
    <ul class="year-calendar-items" #yearCalendaritems></ul>
  </div>

  <div class="calendar-footer">
    <div class="button-group">
      <select class="calendar-hours" (ngModelChange)="onHourChanged($event)" [(ngModel)]="hour">
        <option *ngFor="let item of candidateHours">
          {{ item }}
        </option>
      </select>
      <select class="calendar-minutes" (ngModelChange)="onMinuteChanged($event)" [(ngModel)]="minute">
        <option *ngFor="let item of candidateMinutes">
          {{ item }}
        </option>
      </select>
    </div>
    <div class="button-group">
      <button class="update-button" (click)="onTodayButtonClicked()">Today</button>
      <button class="update-button" (click)="onOkButtonClicked()">OK</button>
    </div>
  </div>
</div>
